{% extends "base.html" %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-8 sm-6 offset-2">
            <h3>Edit Show {{show.id}}</h3>
            <a href="/">Go back</a><br><br>
            <div class="card p-3">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            <form action="" method='POST'>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{show.title}}">
                    <label class='text-success' for="title">Current title: {{show.title}}</label>
                </div>
                <div class="row mb-3">
                    <div class="col form-floating">
                        <input type="text" class="form-control" id="network" placeholder="Newtork" name="network" value="{{show.network}}"></input>
                        <label class='text-success' for="network">Current network: {{show.network}}</label>
                    </div>
                    <div class="col form-floating">
                        <input type="date" class="form-control" id="release_date" placeholder="Show description" name="release_date" value="{{show.release_date|date:'Y-m-d'}}"></input>
                        <label class='text-success' for="release_date">Current release date: {{show.release_date}}</label>
                    </div>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="description" placeholder="Show description" name="description" value="{{show.description}}"></input>
                    <label class='text-success' for="description">Current description: {{show.description}}</label>
                </div>
                <button type="submit" class="btn btn-outline-success mt-3">Update</button><br>
                <a href="/shows/{{show.id}}">View</a>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- <body>
    {% load static %}
    <div class="container">
        <a href="/shows">Go back</a>
        <h1>Show Information</h1>

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title">
        </div>

        <div class="mb-3">
            <label for="Network" class="form-label">Network:</label>
            <input type="text" class="form-control" id="network">
        </div>

        <div class="mb-3">
            <label for="date" class="form-label">Release Date:</label>
            <input type="date" class="form-control" id="date">
        </div>

        <div class="mb-3">
            <label for="Description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="Description" rows="3"></input>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div> -->

